<ion-nav-view name="mainContent"></ion-nav-view>

<!--<div class="bar bar-header">-->
<!--<button class="button icon-left ion-chexvron-left button-clear button-dark" ng-click="back()"></button>-->
<!--&lt;!&ndash;<button class="button button-icon icon ion-navicon" ></button>&ndash;&gt;-->

<!--<div class="h1 title">iKooB Brd</div>-->


<!--<button class="button button-clear button-positive" ng-click="writeBrd();">Write</button>-->

<!--</div>-->

<!--<div class="bar bar-subheader">-->
<!--<h2 class="title">$state : main</h2>-->
<!--</div>-->


<!--게시글이 표시되는 곳-->
